[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cleanup = "*"
pillow = "*"
python-dotenv = "*"
django-extra-fields = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.6"
